.main {
  background: rgb(225, 234, 238);
  background: linear-gradient(
    90deg,
    rgba(225, 234, 238, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  height: 100vh;
  display: grid;
}

* {
  margin: 0;
}

.box-content {
  background-color: #fafafa;
  width: 95vw;
  height: 90vh;
  place-self: center;
  display: grid;
  grid-template-columns: 1fr 1.6fr;
}

.login-image {
  background-image: url("../images/image.png");
  background-size: contain;
  background-repeat: no-repeat;
  resize: none;
  min-width: 700px;
  background-position-x: 0px;
  background-position-y: 40px;
}

.form {
  display: grid;
  background-color: #ffffff;
  margin: 50px;
  grid-template-rows: 50px 50px 1fr;
  padding: 40px;
  position: sticky;
  top: 0;
  overflow: auto;
}

h1 {
  text-align: left;
  color: #191d3a;
}

.undertext {
  color: #cacaca;
  text-align: left;
  align-self: center;
  text-decoration: underline;
  text-decoration-color: transparent;
}

.sign {
  text-decoration: underline;
  border: none;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
  color: #adcaeb;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  align-self: center;
}

.register {
  display: grid;
  grid-template-columns: 170px auto;
  font-size: 15px;
}
.login {
  display: grid;
  grid-template-columns: 160px auto;
  font-size: 15px;
}

.formy {
  display: grid;
  text-align: left;
  grid-template-rows: repeat(4, 50px) 30px 50px;
}

.formy.two {
  display: grid;
  text-align: left;
  grid-template-rows: repeat(8, 50px) 20px 50px;
}

.formy label {
  text-align: left;
  align-self: end;
  padding-left: 4px;
  padding-bottom: 4px;
  font-weight: 600;
  color: #565656;
}

.formy input {
  padding-left: 10px;
  color: #afaeae;
  font-weight: 600;
  font-weight: 500;
  border: 1.5px solid #d6d5d5;
  border-radius: 10px;
}

.log-but {
  background-color: #96bce9;
  color: #ffffff;
  border: none;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, min-content));
  grid-gap: 20px;
  align-content: start;
  color: #191d3a;
}

.griddy {
  display: grid;
  grid-template-rows: 50px 50px 1fr;
  overflow: auto;
}

.box {
  font-size: 12px;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 20px;
  min-height: 150px;
  display: grid;
}

.poster {
  width: 200px;
  height: 300px;
  background-repeat: none;
  background-size: cover;
  background-position: center;
  display: grid;
  justify-self: center;
  align-self: end;
}

.box:hover {
  background-color: #dee8ee;
  transform: translateY(-5px);
  transition: background;
  transition: background 0.5s;
  transition: transform 0.3s;
}

.logout {
  display: grid;

  justify-items: right;
  align-content: center;
}

.logout button {
  width: fit-content;
  height: 30px;
  place-self: right;
  margin-top: 5px;
  margin-right: 20px;
  background-color: #96bce9;
  color: #ffffff;
  border: none;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  border-radius: 5px;
  font-size: 14px;
}

.error {
  font-size: 13px;
  color: red;
  align-self: center;
}

@keyframes shake {
  0% {
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    margin-left: 0rem;
  }
}
